.rtl{
    .filter{
        &__name{
            margin-right: 0;
            margin-left: 10px;
        }
        &__value{
            margin-right: 0;
            margin-left: 10px;
        }
    }
}