// ! main
$color-primary: #172840;
$color-primary-gray: #4d5a6c;
$color-primary-yellow: #f5b618;
$color-gray3:#ebebeb;
$color-primary-gray-lighter:#bebebe;
$color-primary-pink: #fec0cd;
$color-primary-pink-darker:#ff1643;
$color-primary-black-16: rgba(0, 0, 0, 0.16);

// common color
$color-gray-lighter: #fbfbfb;
$color-gray: #eee;
$color-light-white: #fcfcfc;
$color-grey2: #eeeeee;
$color-grey-darker: #d1d1d1;
$color-primary-dark: #005784;
$color-primary-darker: #404553;
$color-primary-yellow-darker: #f0b440;
$color-orange: #f07040;
$color-gray4: #d5d5d5;
$color-gray5: #acb1b8;
$color-gray6: #e2e2e2;
$color-gray7: #9e9e9e;
$color-gray8: #bebebe;
$color-gray9: #f4f4f4;
$color-gray10: #ECECEC;
$color-primary2: #0288d1;
$color-primary2-hover: #9faab7;
$color-gray-dark: #373737;
$color-primary3: #2196f3;
$color-green:#3ad976;

/**
 *  Navbar Colors
 */
    
 $color-nav-list-bg: #E2E2E2;
 $color-nav-list-border: #D1D1D1;
 $color-nav-searchBox-bg: #f5f4ef;
 $color-nav-clickable-bg: #F0B440;
 $color-nav-clickable-icon: #F0B440;
 $color-nav-top-font: #DBDBDB;
 $color-nav-badge-bg: #FF1744;
 $color-nav-badge-border: #172840;
 $color-nav-searchBtn-font: #172840;
 $color-nav-list-font: #172840;
 $color-nav-list-item-seperator: #ACB1B8;


 /**
  *  Navbar sizes
  */
  
$size-nav-top-height: 6.5rem;
$size-nav-list-height: 4.9rem;  


/**
 *  Footer Colors
 */

$color-footer-top-bg: #172840;
$color-footer-bottom-bg: #e2e2e2;
$color-footer-bottom-border: #e2e2e2;
$color-footer-middle-bg: #fbfbfb;

$color-footer-top-font: #FBFBFB;

/**
 *  Footer sizes
 */
 
$size-footer-top-height: 5rem;
$size-footer-middle-height: 36.8rem;
$size-footer-bottom-height: 3.5rem;

/**
*  Header Colors
*/

$color-line: #f0b440;

/**
*  Box Colors
*/

$color-line: #f0b440;

/**
*  Box Sizes
*/

$border-raduis: 11px;

/**
*  goods slider
*/

$color-nav-bg: #f0b440;

