@import "../../../../../../assets/scss/abstracts/variables";
@import "./../../../../../../assets/scss/abstracts/placeholders";

.card-container {
  padding: 8px;
  .card {
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.16);
    border-radius: 10px;
    // width: 290px;
    p {
      margin-bottom: 0;
    }
    &__header {
      display: flex;
      flex-direction: row;
      padding: 10px 10px;
      &__left {
        flex: 50%;
        .card-icon {
          width: 25px;
          height: 25px;
        }
      }
      &__right {
        flex: 50%;
        justify-content: flex-end;
        display: flex;
        span {
          font-size: 16px;
          text-align: left;
          color: $color-primary;
        }
      }
    }
    &__body {
      display: flex;
      flex-direction: row;
      padding: 10px 10px;
      &__left {
        flex: 50%;
        .full-text {
          font-size: 14px;
          text-align: left;
          color: $color-primary;
        }
        .expire-text {
          color: $color-primary-gray;
        }
        .expire-data-text {
          color: $color-primary;
          font-weight: 500;
        }
      }
      &__right {
        flex: 50%;
      }
    }
    &__footer {
      padding: 10px 10px;
      border-top: 1px solid $color-gray9;
      &__delete-wrapper {
        display: flex;
        justify-content: center;
        cursor: pointer;
      }
      &__icon-container {
        .trash-icon {
          width: 20px;
          height: 20px;
        }
      }
      &__delete-text {
        margin-left: 5px;
        font-size: 14px;
        text-align: left;
        color: $color-primary-pink-darker;
      }
    }
  }
}
