@import "../../../assets/scss/abstracts/variables";
//@import '../../../assets/scss/abstracts/mixins';
@import "../../../assets/scss/abstracts/placeholders";

.boxStyle2 {
  box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.16);
  background-color: #ffffff;
  margin-top: 12px;
  border-radius: $border-raduis;
  //height: 500px;
}
