@import "../../../../../../assets/scss/abstracts/variables";
//@import '../../../assets/scss/abstracts/mixins';
@import "./../../../../../../assets/scss/abstracts/placeholders";

.rtl {
  .itemDetail{
    &__small-text{
      margin-left: 15px;
      margin-right: 0px;
    }

    &__item-small-text--bold{
      margin-left: 0px;
      margin-right: 5px;
    }
    &__deli-img {
      margin-right: 0;
    }
  
  }
  .item-detials-like {

    left: 20px;
    right: unset;
  
  }
  .estimatore-container {
    .help-icon-container {
      right: 85px  !important;    
      left: unset !important;
    }
    .estimator-right-wrapper {
      padding-left: 25px;
      img {
        display: block;
        image-rendering: -webkit-optimize-contrast;
        z-index: 1;
      }
      .help-icon-container {

        .modal {
          right: unset !important;
          left: 0 !important;
        }
      }
    }
  }


}
