@import "./../../../../assets/scss/abstracts/variables";
@import "../../../../assets/scss/abstracts/mixins";
@import "./../../../../assets/scss/abstracts/placeholders";

@import "./SearchLayout/CheckBoxList/CheckBoxList.scss";

@import "./SearchLayout/Filter/Filter.scss";

@import "./SearchLayout/RangeBox/RangeBox.scss";

@import "./SearchLayout/SearchBoxHeader/SearchBoxHeader.scss";

@import "./SearchLayout/SeeMore/SeeMore.scss";

.search-page {
  background-color: #fcfcfc;
  display: flex;
  @include respond-bs(desktops) {
    flex-direction: column;
    padding-top: 6.5rem;
  }

  &__left {
    width: 19%;
    padding-right: 1.3rem;
    padding-left: 0;

    @include respond-bs(desktops) {
      display: none;
    }
  }

  &__right {
    width: 81%;
    margin-top: -5px;
    .boxStyle1 {
      overflow: hidden;
      &__header {
        overflow: initial;
      }
    }
    @include respond-bs(desktops) {
      width: unset;

      .boxStyle1 {
        border-radius: 0;
        margin: 0;
      //   &__header {
      //     border: solid 1px $color-grey-darker;
      //     background-color: $color-gray-lighter;
      //   }
        &__border {
          display: none;
        }
      }
    }
  }

  .search {
    box-shadow: 0 0 6px 0 $color-primary-black-16;
    margin-top: 5px;
    border-radius: 11px;
    padding-right: 0;
    //test
    $padding: 21px;
    padding-bottom: 20px;
    overflow: hidden;
    background-color: white;
    &__filter-header {

      position: relative;
      background-color: $color-gray-lighter;
      color: $color-primary;
      font-size: 1.6rem;
      padding: 13px 22px 13px $padding;
      font-weight: bold;
      &.single-lined{
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
      &::before {
        content: "";
        border: 12px solid #f0b440;
        position: absolute;
        height: 114%;
        border-radius: 9px;
        left: -15px;
        top: -4px;
      }
    }

    &__filter-list {
      padding: 0px $padding;
      margin-top: 11px;
    }

    &__list-link {
      color: $color-primary-gray;
      font-size: 1.4rem;
    }

    &__list-item {
      margin-top: 15px;
      &--check {
        margin-bottom: 7px;
        margin-top: 0;
      }
    }
    &__filter-header {
      .dropdown__arrow {
        margin-top: 4px;
      }
    }

    &__drop-header {
      margin-bottom: 5px;
      color: $color-primary-gray;
      font-size: 1.4rem;
    }

    &__drop-list {
      padding-left: $padding;
      margin-top: -6px;
    }

    &__list-container:not(:first-of-type) {
      margin-top: 15px;
    }

    &__checkList-img {
      width: 71px;
    }

    .checklist__check {
      margin-right: 10px;
    }

    .checklist__label {
      color: $color-primary-gray;
      font-size: 1.4rem;
      display: block;
      cursor: pointer;

      span {
        vertical-align: middle;
      }
    }

    .seemore__link {
      margin-left: $padding;
      display: block;
    }
    &__item-container {
      @extend %d-flex;
      flex-wrap: wrap;
      flex-direction: row;
    }
    &__item-container > * {
      flex-basis: 19.6666667%;
      @include respond-bs(tablets) {
        flex-basis: 25%;
      }
      @include respond-bs(portrait-phones) {
        flex-basis: 50%;
      }
    }
    .goodItem-s1 {
      border-right: 1px solid #f7f7f7;
    }

    &__item-container--row > * {
      flex-basis: 100%;
    }
  }
}
