@import "./../../../../assets/scss/abstracts/variables";
//@import '../../../assets/scss/abstracts/mixins';
@import "./../../../../assets/scss/abstracts/placeholders";

@import "./SearchLayout/CheckBoxList/CheckBoxList-rtl.scss";

@import "./SearchLayout/Filter/Filter-rtl.scss";

@import "./SearchLayout/RangeBox/RangeBox-rtl.scss";

@import "./SearchLayout/SearchBoxHeader/SearchBoxHeader-rtl.scss";

@import "./SearchLayout/SeeMore/SeeMore.scss";

.rtl {
  .search-page {
    &__left {
      padding-right: 0;
      padding-left: 1.3rem;
    }
  }

  .rtl-pl {
    padding-right: 15px !important;
    padding-left: 0px;
  }
  .search {
    li,
    span,
    a {
      text-align: right !important;
    }

    &__filter-header {
      text-align: right;
      &::before {
        border: none;
      }
      &::after {
        content: "";
        border: 12px solid #f0b440;
        position: absolute;
        height: 114%;
        border-radius: 9px;
        right: -15px;
        top: -4px;
      }
    }

    $padding: 21px;
    .seemore__link {
      margin-left: 0;
      margin-right: $padding;
    }
    .checklist__check {
      margin-right: 0;
      margin-left: 10px;
    }
    &__drop-list {
      padding-left: 0;
      padding-right: $padding;
    }
    &__top-link {
      &::after {
        content: "";
        border: 12px solid #f0b440;
        position: absolute;
        height: 114%;
        border-radius: 9px;
        left: initial;
        top: -4px;
        right: -15px;
      }
      &::before {
        border: none;
      }
    }
  }
}
