@import "../../../../../../assets/scss/abstracts/variables";
@import "./../../../../../../assets/scss/abstracts/mixins";
@import "./../../../../../../assets/scss/abstracts/placeholders";

.rtl {
  .credit {
    &__input {
      margin-left: 0;
      margin-right: 20px;
      @include respond-bs(portrait-phones) {
        margin-left: 0;
        margin-right: 0;
      }
    }
    &__text-s2 {
      margin-right: 0;
      margin-left: 50px;
      width: 100%;
    }
    &__text {
      &--bold {
        @include respond-bs(landscape-phones) {
          margin-left: 0;
          width: 20%;
          text-align: left!important;
        }
      }
    }
    &__table {
      width: 100%;
      th,
      td {
        text-align: right;
      }
    }
    &__tbl-text--orange {
      @include respond-bs(portrait-phones) {
        text-align: left !important;
      }
    }
    &__div {
      text-align: right;
    }
  }
}
